.pres {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.pres-text {
  flex: 1;
  padding-right: 20px; /* Espace entre le texte et l'image */
  line-height: 1.6;
  text-align: justify;
}

.pres-info {
  flex: 0.4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pres-info img {
  width: 100px;
  height: 150px;
  border-radius: 10px;
  margin-bottom: 20px; /* Espace entre la photo et la section d'informations */
}

.pres-info .info {
  text-align: center;
}

.pres-info h2 {
  font-size: 1.2em;
  margin: 10px 0;
}

.pres-info p {
  line-height: 1.4;
  font-size: 0.95em;
}